:root {
  background-color: #192702;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 16px;
}

.App {
  width: 63rem;
  max-width: 90%;
  margin: 0 auto;
  height: 97vh;
  max-height: 90%;
}

.name-link:hover {
  text-decoration: underline;
  font-weight: bold;
}