


 :root {

  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 16px;


}

.App {
  width: 63rem; /* Fixed width */
  max-width: 90%; /* Limit maximum width */
  margin: 0 auto; /* Center the element horizontally */
  background-color: aqua;
  height: 97vh;
}
